<link rel="stylesheet" href="https://unpkg.com/ngx-bootstrap/datepicker/bs-datepicker.css">

<div class="page_banner banner post-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="banner-heading">Add new post</div>    
            </div>  
        </div>
    </div>
</div>
<main id="maincontent">
    <section class="resume">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-heading">
                        <h2>Add new post</h2>
                        <p>Provide details about your post below.</p>
                    </div>
                </div>
            </div>
            <form [formGroup]="angForm" (ngSubmit)="submitPost();" novalidate>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel-body">
                            <div class="panel-heading">Basic details:</div>
                            <hr/>
                            <div class="form-group col-md-6 p-l" [ngClass]="{'has-error': isInvalid('title')}">
                                <label>Title <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" placeholder="Post title" 
                                        formControlName="title" #title (change)="log('title')"
                                />
                            </div>
                            <div class="form-group col-md-6 p-r" >
                                <label>Service category <span class="text-danger">*</span></label>
                                <select class="form-control" formControlName="category_id" #category_id>
                                    <option>--- Choose a Category ---</option>
                                    <option>Photography</option>
                                    <option>Lodge</option>
                                    <option>Catering</option>
                                </select>
                            </div>
                            <div class="form-group col-md-12 p-l p-r" [ngClass]="{'has-error': isInvalid('description')}">
                                <label>Description <span class="text-danger">*</span></label>
                                <textarea class="form-control" placeholder="Post description"
                                                formControlName="description" #description>
                                </textarea>
                            </div>
                            <div class="form-group col-md-6 p-l" [ngClass]="{'has-error': isInvalid('start_date')}">
                                <label>Start date <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" placeholder="Start date"
                                        bsDatepicker [bsConfig]="bsConfig"  formControlName="start_date" #start_date
                                        
                                />
                            </div>
                            <div class="form-group col-md-6 p-r" [ngClass]="{'has-error': isInvalid('end_date')}">
                                <label>End date <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" placeholder="End date"
                                        bsDatepicker [bsConfig]="bsConfig"  formControlName="end_date" #end_date
                                        
                                />
                            </div>                           
                            
                            <div class="form-group col-md-6 p-l" [ngClass]="{'has-error': isInvalid('state')}">
                                <label>State <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" 
                                            formControlName="state" #state
                                />
                            </div>
                            <div class="form-group col-md-6 p-r" [ngClass]="{'has-error': isInvalid('city')}">
                                <label>City <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" 
                                        formControlName="city" #city
                                />
                            </div>
                            <div class="form-group col-md-6 p-l" [ngClass]="{'has-error': isInvalid('postcode')}">
                                <label>Postcode <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" 
                                        formControlName="postcode" #postcode
                                />
                            </div>
                            <div class="form-group col-md-6 p-r" [ngClass]="{'has-error': isInvalid('budget')}">
                                <label>Budget <span>(Optional)</span></label>
                                <input type="text" class="form-control" placeholder="Budget" 
                                            formControlName="budget" #budget
                                />
                            </div>                            

                            <div class="form-group col-md-6 p-r">
                                
                                <!--  =========== Drag and drop testing starts =========== -->

                                <div class="inline-block">
                                    <h3>Select Files</h3>
                                 
                                    <div class="inline-block">
                                      Multiple
                                      <input
                                        ngfSelect
                                        multiple
                                        type      = "file"
                                        [(files)] = "files"
                                        [accept]  = "accept"
                                        [maxSize]  = "maxSize"
                                        [(lastInvalids)] = "lastInvalids"
                                        (filesChange) = "lastFileAt=getDate()"
                                      />
                                    </div>
                                 
                                    <div class="inline-block">
                                      Single
                                      <input
                                        ngfSelect
                                        type       = "file"
                                        [(files)]  = "files"
                                        [accept]   = "accept"
                                        [maxSize]  = "maxSize"
                                        [(lastInvalids)] = "lastInvalids"
                                        (filesChange) = "lastFileAt=getDate()"
                                      />
                                    </div>
                                 
                                    <div class="inline-block">
                                      Element
                                      <div
                                        ngfSelect
                                        multiple  = "1"
                                        [accept]  = "accept"
                                        [maxSize] = "maxSize"
                                        [(files)] = "files"
                                        class     = "well my-drop-zone"
                                        style     = "border-style:groove;padding:0.5em;text-align:center;width:150px;"
                                        [(lastInvalids)] = "lastInvalids"
                                        (filesChange) = "lastFileAt=getDate()"
                                      >
                                        Tap to Select
                                      </div>
                                    </div>
                                 
                                    <div class="inline-block">
                                      <strong>Images</strong> Only
                                      <div
                                        ngfSelect
                                        accept    = "image/*"
                                        multiple  = "1"
                                        [maxSize] = "maxSize"
                                        [(files)] = "files"
                                        class     = "well my-drop-zone"
                                        style     = "border-style:groove;padding:0.5em;text-align:center;width:150px;"
                                        [(lastInvalids)] = "lastInvalids"
                                        (filesChange) = "lastFileAt=getDate()"
                                      >
                                        Tap to Select
                                      </div>
                                    </div>
                                </div>
                                 
                                <div>
                                  <h3>Drop Files</h3>
                                  <div class="inline-block">
                                    <div
                                      ngfDrop
                                      [(validDrag)]    = "baseDropValid"
                                      (fileOver)       = "hasBaseDropZoneOver=$event"
                                      [(files)]        = "files"
                                      [accept]         = "accept"
                                      [maxSize]        = "maxSize"
                                      [(dragFiles)]    = "dragFiles"
                                      [(lastInvalids)] = "lastInvalids"
                                      class            = "well my-drop-zone"
                                      [class.invalid-drag] = "baseDropValid===false"
                                      [class.valid-drag]   = "baseDropValid"
                                      (filesChange) = "lastFileAt=getDate()"
                                    >
                                      Base drop zone
                                    </div>
                                    <strong>accept:</strong>
                                    <div>
                                      <input type="text" formControlName="action" #action />
                                    </div>
                                  </div>
                                 
                                  <div class="inline-block">
                                    <div
                                      ngfDrop
                                      multiple         = "1"
                                      selectable       = "1"
                                      [(validDrag)]    = "validComboDrag"
                                      [(files)]        = "files"
                                      accept           = "image/*"
                                      [maxSize]        = "maxSize"
                                      [(lastInvalids)] = "lastInvalids"
                                      [(dragFiles)]    = "dragFiles"
                                      class            = "well my-drop-zone"
                                      [class.invalid-drag] = "validComboDrag===false"
                                      [class.valid-drag]   = "validComboDrag"
                                      (filesChange) = "lastFileAt=getDate()"
                                    >
                                      Combo drop/select <strong>image</strong> only zone
                                    </div>
                                    <strong>accept:</strong>
                                    <div>
                                      <input type="text" value="image/*" disabled readonly="" style="width:100%" />
                                    </div>
                                  </div>
                                  
                                  <div class="inline-block">
                                    <strong>maxSize kb</strong>
                                    <div>
                                      <input type="number" formControlName="maxSize" placeholder="1024 == 1mb" #maxSize />
                                    </div>
                                  </div>
                                </div>
                                 
                                 
                                <div *ngIf="dragFiles">
                                  <h3 style="margin:0">Drag Files</h3>
                                  <p *ngIf="!dragFiles.length" style="color:red;">
                                    This browser does NOT release metadata for files being dragged. All files will be considered valid drags until dropped.
                                  </p>
                                  <pre>{{ dragFiles | json }}</pre>
                                </div>
                                 
                                <div class="bg-warning" *ngIf="lastInvalids?.length" style="margin-bottom: 40px">
                                  <h3 style="color:red;">Last {{ lastInvalids.length }} Invalid Selected Files</h3>
                                 
                                  <table class="table">
                                    <thead>
                                      <tr>
                                        <th>Name</th>
                                        <th>Error</th>
                                        <th>Type</th>
                                        <th>Size</th>
                                        <th>Actions</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let item of lastInvalids;let i=index">
                                        <td>
                                          <div *ngIf="['image/gif','image/png','image/jpeg'].indexOf(item.file.type)>=0">
                                            <div class="previewIcon" [ngfBackground]="item.File"></div>
                                          </div>
                                          <strong>{{ item.file.name }}</strong>
                                        </td>
                                        <td nowrap>
                                          {{ item.type }}
                                        </td>
                                        <td nowrap>
                                          {{ item.file.type }}
                                        </td>
                                        <td nowrap>
                                          {{ item.file.size/1024/1024 | number:'.2' }} MB
                                        </td>
                                        <td nowrap>
                                          <button type="button"
                                            class="btn btn-danger btn-xs"
                                            (click)="lastInvalids.splice(i,1)"
                                          >
                                            <span class="glyphicon glyphicon-trash"></span>
                                          </button>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                                 
                                <div style="margin-bottom: 40px">
                                  <h3>{{ files.length }} Qued Files</h3>
                                  <table class="table">
                                    <thead>
                                      <tr>
                                        <th>Name</th>
                                        <th>Type</th>
                                        <th>Size</th>
                                        <th>Actions</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let item of files;let i=index">
                                        <td>
                                          <div *ngIf="['image/gif','image/png','image/jpeg'].indexOf(item.type)>=0">
                                            <div class="previewIcon" [ngfBackground]="item"></div>
                                          </div>
                                          <strong>{{ item.name }}</strong>
                                        </td>
                                        <td nowrap>
                                          {{ item.type }}
                                        </td>
                                        <td nowrap>
                                          {{ item.size/1024/1024 | number:'.2' }} MB
                                        </td>
                                        <td nowrap>
                                          <button type="button"
                                            class="btn btn-danger btn-xs"
                                            (click)="files.splice(i,1)"
                                          >
                                            <span class="glyphicon glyphicon-trash"></span>
                                          </button>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                 
                                  <div>
                                    <div>
                                      Queue progress:
                                      <div class="progress" style="">
                                        <div class="progress-bar"
                                          role="progressbar"
                                          [ngStyle]="{ 'width': progress + '%' }"
                                        ></div>
                                      </div>
                                    </div>
                                 
                                    <ng-container *ngIf="lastFileAt">
                                      <p>
                                        <strong>Last file(s) selected At:</strong> {{ lastFileAt | date : 'longTime' }}
                                      </p>
                                    </ng-container>
                                 
                                    <i *ngIf="progress==100" class="glyphicon glyphicon-ok"></i>
                                 
                                    <button type="button"
                                      class="btn btn-success btn-s"
                                      (click)="uploadFiles(files)"
                                      [disabled]="!files.length"
                                    >
                                      <span class="glyphicon glyphicon-upload"></span> Upload all
                                    </button>
                                 
                                    <button type="button"
                                      class="btn btn-warning btn-s"
                                      (click)="cancel()"
                                      [disabled]="!httpEmitter"
                                    >
                                      <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                                    </button>
                                    <button type="button"
                                      class="btn btn-danger btn-s"
                                      (click)="files.length=0"
                                      [disabled]="!files.length"
                                    >
                                      <span class="glyphicon glyphicon-trash"></span> Remove all
                                    </button>
                                  </div>
                                </div>

                                <!-- ============ Drag and drop testing ends ============= -->

                            </div>

                            <div class="col-md-12 p-l">
                                <button class="btn btn-default" type="submit"
                                        [disabled]="angForm.pristine || angForm.invalid || disableBtn"
                                >Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</main>