<link rel="stylesheet" href="https://unpkg.com/ngx-bootstrap/datepicker/bs-datepicker.css">

<div class="page_banner banner post-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="banner-heading">Add new post</div>    
            </div>  
        </div>
    </div>
</div>
<main id="maincontent">
    <section class="resume">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-heading">
                        <h2>Add new post</h2>
                        <p>Provide details about your post below.</p>
                    </div>
                    <div *ngIf="is_server_error" class="alert alert-warning">Something went wrong. Please check your internet connection!</div>
                </div>
            </div>
            <form [formGroup]="angForm" (ngSubmit)="submitPost();" novalidate>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel-body" style="padding: 25px 40px;">
                            <div class="row">
                              <div class="panel-heading">Basic details:</div> <hr/>
                            </div>                           
                            <div class="row">
                              <div class="form-group col-md-6 p-l" [ngClass]="{'has-error': isInvalid('title')}">
                                  <label>Title <span class="text-danger">*</span></label>
                                  <input type="text" class="form-control" placeholder="Post title" 
                                          formControlName="title" #title (change)="log('title')"
                                  />
                                  <div *ngIf="isInvalid('title')">
                                    <span *ngIf="angForm.controls['title'].errors.required" class="text-danger">Title is required.</span>
                                  </div>
                              </div>
                              <div class="form-group col-md-6 p-r" [ngClass]="{'has-error': isInvalid('category_id')}">
                                  <label>Service category <span class="text-danger">*</span></label>
                                  <select class="form-control" formControlName="category_id" #category_id>
                                      <option [value]='0'>--- Choose a Category ---</option>
                                      <option *ngFor="let opt of services_options" [value]="opt.id">{{opt.title}}</option>
                                  </select>
                                  <div *ngIf="isInvalid('category_id')">
                                    <span *ngIf="angForm.controls['category_id'].errors.required" class="text-danger">Service category is required.</span>
                                  </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="form-group col-md-12 p-l p-r" [ngClass]="{'has-error': isInvalid('description')}">
                                  <label>Description <span class="text-danger">*</span></label>
                                  <textarea class="form-control" placeholder="Post description"
                                                  formControlName="description" #description>
                                  </textarea>
                                  <div *ngIf="isInvalid('description')">
                                    <span *ngIf="angForm.controls['description'].errors.required" class="text-danger">Description is required.</span>
                                  </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="form-group col-md-6 p-l" [ngClass]="{'has-error': isInvalid('start_date')}">
                                  <label>Start date <span class="text-danger">*</span></label>
                                  <input type="text" class="form-control" placeholder="Start date"
                                        [minDate]="minDateSt" [maxDate]="maxDateSt" (bsValueChange)="onStartDpValueChange($event)"
                                        bsDatepicker [bsConfig]="bsConfigStart"  formControlName="start_date" 
                                        #start_date                                       
                                  />
                                  <div *ngIf="isInvalid('start_date')">
                                    <span *ngIf="angForm.controls['start_date'].errors.required" class="text-danger">Start date is required.</span>
                                  </div>
                              </div>
                              <div class="form-group col-md-6 p-r" [ngClass]="{'has-error': isInvalid('end_date')}">
                                  <label>End date <span class="text-danger">*</span></label>
                                  <input type="text" class="form-control" placeholder="End date"
                                      [minDate]="minDateEn" [maxDate]="maxDateEn" (bsValueChange)="onEndDpValueChange($event)"
                                      bsDatepicker [bsConfig]="bsConfigEnd"  formControlName="end_date" #end_date                                        
                                  />
                                  <div *ngIf="isInvalid('end_date')">
                                    <span *ngIf="angForm.controls['end_date'].errors.required" class="text-danger">End date is required.</span>
                                  </div>
                              </div>                           
                            </div>
                            <div class="row">
                              <div class="form-group col-md-6 p-l" [ngClass]="{'has-error': isInvalid('state_id')}">
                                  <label>State <span class="text-danger">*</span></label>
                                  <select class="form-control" formControlName="state_id" (change)="getCityFromState(state_id.value)" #state_id>
                                    <option [value]='0'>--- Choose a State ---</option>
                                    <option *ngFor="let opt of state_options" [value]="opt.id">{{opt.name}}</option>
                                  </select>
                                  <div *ngIf="isInvalid('state_id')">
                                    <span *ngIf="angForm.controls['state_id'].errors.required" class="text-danger">State is required.</span>
                                  </div>
                              </div>
                              <div class="form-group col-md-6 p-r" [ngClass]="{'has-error': isInvalid('city_id')}">
                                  <label>City <span class="text-danger">*</span></label>
                                  <select class="form-control" formControlName="city_id" #city_id>
                                    <option [value]='0'>--- Choose a City ---</option>
                                    <option *ngFor="let opt of city_options" [value]="opt.id">{{opt.name}}</option>
                                  </select>
                                  <div *ngIf="isInvalid('city_id')">
                                    <span *ngIf="angForm.controls['city_id'].errors.required" class="text-danger">City is required.</span>
                                  </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="form-group col-md-6 p-l" [ngClass]="{'has-error': isInvalid('postcode')}">
                                  <label>Postcode <span class="text-danger">*</span></label>
                                  <input type="text" class="form-control" 
                                          formControlName="postcode" #postcode
                                  />
                                  <div *ngIf="isInvalid('city_id')">
                                    <span *ngIf="angForm.controls['postcode'].errors.required" class="text-danger">Postcode is required.</span>
                                  </div>
                              </div>
                              <div class="form-group col-md-6 p-r" [ngClass]="{'has-error': isInvalid('budget')}">
                                  <label>Budget <span>(Optional)</span></label>
                                  <input type="text" class="form-control" placeholder="Budget" 
                                              formControlName="budget" #budget
                                  />
                              </div>   
                            </div>    

                            <!--  Image upload section starts -->                  
                            <div class="row">
                              <div class="form-group col-md-12 p-r p-l">                                
                                  <!-- Drag and drop section -->
                                  <ngfFormData
                                      [files]      = "files"
                                      postName     = "file"
                                      [(FormData)] = "sendableFormData"
                                      >
                                  </ngfFormData>

                                  <ngfUploadStatus
                                      [(percent)] = "progress"
                                      [httpEvent] = "httpEvent"
                                      >
                                  </ngfUploadStatus>

                                  <div class="panel-heading">Upload images:</div> <hr/>
                                  <div>
                                    <div class="inline-block">
                                      <div
                                        ngfDrop
                                        multiple         = "1"
                                        selectable       = "1"
                                        [(validDrag)]    = "validComboDrag"
                                        [(files)]        = "files"
                                        accept           = "image/*"
                                        [maxSize]        = "maxSize"
                                        [(lastInvalids)] = "lastInvalids"
                                        [(dragFiles)]    = "dragFiles"
                                        class            = "well my-drop-zone"
                                        [class.invalid-drag] = "validComboDrag===false"
                                        [class.valid-drag]   = "validComboDrag"
                                        (filesChange) = "lastFileAt=getDate()"
                                      >
                                        Click here or drag and drop images to upload.
                                      </div>
                                    </div>
                                  </div>
                                  
                                  <div class="bg-warning" *ngIf="lastInvalids?.length" style="margin-bottom: 40px">
                                    <label style="color:red;">{{ lastInvalids.length }} invalid selected Files</label>
                                  
                                    <table class="table">
                                      <thead>
                                        <tr>
                                          <th>Name</th>
                                          <th>Error</th>
                                          <th>Type</th>
                                          <th>Size</th>
                                          <th>Actions</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr *ngFor="let item of lastInvalids;let i=index">
                                          <td>
                                            <div *ngIf="['image/gif','image/png','image/jpeg'].indexOf(item.file.type)>=0">
                                              <div class="previewIcon" [ngfBackground]="item.File"></div>
                                            </div>
                                            <strong>{{ item.file.name }}</strong>
                                          </td>
                                          <td nowrap>
                                            {{ item.type }}
                                          </td>
                                          <td nowrap>
                                            {{ item.file.type }}
                                          </td>
                                          <td nowrap>
                                            {{ item.file.size/1024/1024 | number:'.2' }} MB
                                          </td>
                                          <td nowrap>
                                            <button type="button"
                                              class="btn btn-danger btn-xs"
                                              (click)="lastInvalids.splice(i,1)"
                                            >
                                              <span class="fa fa-trash"></span>
                                            </button>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>
                                  
                                  <div style="margin-bottom: 40px">
                                    <label>{{ files.length }} files selected</label>
                                    <table class="table">
                                      <thead>
                                        <tr>
                                          <th>Name</th>
                                          <th>Type</th>
                                          <th>Size</th>
                                          <th>Actions</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr *ngFor="let item of files;let i=index">
                                          <td>
                                            <div *ngIf="['image/gif','image/png','image/jpeg'].indexOf(item.type)>=0">
                                              <div class="previewIcon" [ngfBackground]="item"></div>
                                            </div>
                                            <strong>{{ item.name }}</strong>
                                          </td>
                                          <td nowrap>
                                            {{ item.type }}
                                          </td>
                                          <td nowrap>
                                            {{ item.size/1024/1024 | number:'.2' }} MB
                                          </td>
                                          <td nowrap>
                                            <button type="button"
                                              class="btn btn-danger btn-xs"
                                              (click)="files.splice(i,1)"
                                            >
                                              <span class="fa fa-trash"></span>
                                            </button>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  
                                    <div class="mt-20">
                                      <!-- <div>
                                        Upload progress:
                                        <div class="progress">
                                          <div class="progress-bar"
                                            role="progressbar"
                                            [ngStyle]="{ 'width': progress + '%' }"
                                          ></div>
                                        </div>
                                      </div> -->
                                  
                                      <!-- <ng-container *ngIf="lastFileAt">
                                        <p>
                                          <strong>Last file(s) selected At:</strong> {{ lastFileAt | date : 'longTime' }}
                                        </p>
                                      </ng-container> -->
                                  
                                      <!-- <i *ngIf="progress==100" class="fa fa-check"></i> -->
                                  
                                      <!-- <button type="button"
                                        class="btn btn-success btn-s"
                                        (click)="uploadFiles(files)"
                                        [disabled]="!files.length"
                                      >
                                        <span class="fa fa-upload"></span> Upload all
                                      </button> -->                                 
                                      <!-- <button type="button"
                                        class="btn btn-warning btn-s"
                                        (click)="cancel()"
                                        [disabled]="!httpEmitter"
                                      >
                                        <span class="fa fa-times"></span> Cancel all
                                      </button> -->
                                      <button type="button"
                                        class="btn btn-danger btn-s"
                                        (click)="files.length=0"
                                        [disabled]="!files.length"
                                      >
                                        <span class="fa fa-trash"></span> Remove all
                                      </button>
                                    </div>
                                  </div>
                                  <!-- ============ Drag and drop box ends ============= -->
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12 p-l">
                                  <button class="btn btn-default" type="submit"
                                          [disabled]="angForm.pristine || angForm.invalid || disableBtn"
                                  >Submit</button>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</main>